[submodule "esprit"]
	path = esprit
	url = https://github.com/CottageLabs/esprit.git
[submodule "magnificent-octopus"]
	path = magnificent-octopus
	url = https://github.com/CottageLabs/magnificent-octopus-oacwellcome-fork.git
